/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	height:12vh;
	padding:10px;
	display:flex;
	justify-content:center;
}
.header h3{
	color:white;
	
}
.latest-news-section{
	background-color:#FFFFFF;
	padding:10px;
	width:auto;
	display:flex;
}
.main-article{
    background-color:#FFFFFF;
	width:auto;
	display:flex;


}
.pictorial-news-section{
 	background-color:#FFFFFF;
	padding:10px;
	width:auto;
	text-align:left;
	border-radius:15px;
	display:flex;

	
}
